.solidborder {
    border-style: solid;
    border-width: 4px;
    border-color: darkorange;
}

.homeContainer .align-center div {
    text-align: center;
}

.orange {
    color:darkorange;
}

.rotate-span {
    margin-left: 5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: orange !important;
}

.footerMohh {
    height:80px;
    border-style: none;
    background-color: darkgray;
}

body { padding-bottom: 70px; }

.homePageMessage {
    padding:25px;
}

.projectDetailLink {

}

.rotatorStyle {
    color:darkorange;
    font-size: x-large;
}

.narrowBottom {
    padding-bottom: 10px;
}

.navbar{
    margin-bottom: 0px !important;
}

.paddingTop20 {
    padding-top: 20px !important;
}
